.DS_Store
.DS_Store
memorize game/memorize game.xcodeproj/project.pbxproj
memorize game/memorize game.xcodeproj/project.xcworkspace/contents.xcworkspacedata
memorize game/memorize game/Assets.xcassets/AccentColor.colorset/Contents.json
memorize game/memorize game.xcodeproj/project.xcworkspace/xcuserdata/jenyutseng.xcuserdatad/UserInterfaceState.xcuserstate
memorize game/memorize game.xcodeproj/xcuserdata/jenyutseng.xcuserdatad/xcschemes/xcschememanagement.plist
memorize game/memorize game/Assets.xcassets/AppIcon.appiconset/Contents.json
memorize game/memorize game/Assets.xcassets/Contents.json
